{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
    <div class="col">
        <h2>À propos</h2>
   Ce projet a pour but d'unifier les connaissances de l'herpétofaunes présentes dans le canton de Fribourg, en Suisse.
    Les données inscrites proviennent de différentes sources scientifiques et de sources officielles locales (www.fr.ch, Karch, etc.).
        <h2 class="mt-5">À mon sujet</h2>
        Je m'appelle Yannick Berthoud et j'habite naturellement la région Fribourgeoise. Mes principaux objectifs sont le partage
        de connaissance dédié à l'herpétologie. Ainsi sont né différents projets au fil des années :
        <p>
        <dl class="row">
            <dt class="col-sm-3">2021 :</dt>
        <dd class="col-sm-9">Création du site <a href="#" title="Herping-Fribourg">Herping-Fribourg</a></dd>
            <dt class="col-sm-3">2021 :</dt>
            <dd class="col-sm-9">Publication du livre "L'herpétologie : une introduction à la biologie des amphibiens et reptiles et synapomorphies familles"</dd>
            <dt class="col-sm-3">2021 :</dt>
        <dd class="col-sm-9">Responsable formation à l'<a href="http://aquaterrafribourg.ch" title="Aqua-Terra Club Fribourg">aqua-terra club Fribourg</a></dd>
            <dt class="col-sm-3">2020 :</dt>
            <dd class="col-sm-9">Obtention du diplôme d'herpétologue</dd>
            <dt class="col-sm-3">2020 :</dt>
            <dd class="col-sm-9">Publication du livre "Serpents venimeux : méthodes et conseils de maintiens en captivité"</dd>
            <dt class="col-sm-3">2020 :</dt>
            <dd class="col-sm-9">Rédaction du blog <a href="http://yannickherpetologie.blogspot.com/" title="Yannick Herpétologie">Yannick Herpétologie</a></dd>
            <dt class="col-sm-3">2020 :</dt>
            <dd class="col-sm-9">Fondation du site Reptiles-Conseils (les articles se trouve sur le blog Yannick Herpétologie et sur le site de l'<a href="http://aquaterrafribourg.ch" title="Aqua-Terra Club Fribourg">aqua-terra club Fribourg</a></dd>
            <dt class="col-sm-3">2016 :</dt>
            <dd class="col-sm-9">Co-Fondation du site <a href="https://www.planete-terrario.com" title="Planète-Terrario">Planète-Terrario</a> qui traite de la biologie des serpents et apporte des conseils en captivité</dd>
            <dt class="col-sm-3">2014 :</dt>
            <dd class="col-sm-9">Fondation du site <a href="https://www.asian-pitvipers.com" title="Asian-PitVipers">Asian-PitVipers</a> qui traite de la biologie du genre <i>Trimeresurus sensu lato</i></dd>
            <dt class="col-sm-3">2012 :</dt>
            <dd class="col-sm-9">Rédaction d'un livre électronique apportant les méthodes de maintien en captivité des reptiles (aujourd'hui une page de Planete-Terrario)</dd>
        </dl>
        </p>
    </div>
</div>
{% endblock %}