{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for herp in herps %}
        <div class="col">
          <div class="card shadow-sm">
            <svg  width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ herp.scientific_name }}</title>
                {% for image in herp.herpimage_set.all %}
                    {% if image.category == 'I' and forloop.first %}
                        <img src="{{ MEDIA_URL }}{{ image }}" class="bd-placeholder-img card-img-top" />
                    {% endif %}
                  {% endfor %}
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ herp.common_name }}</text></svg>
            <img src="" class="bd-placeholder-img card-img-top" />
            <div class="card-body">
              <p class="card-text"><i>{{ herp.scientific_name }}</i> ({{ herp.author }})</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if herp.order == 'A' %}
                        <a href="{% url 'amphibian_details' herp.slug %}" class="btn btn-sm btn-outline-secondary">Détails</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter une observation</button>
                    {% else %}
                     <a href="{% url 'reptile_details' herp.slug %}" class="btn btn-sm btn-outline-secondary">Détails</a>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ajouter une observation</button>
                    {% endif %}
                </div>
                <small class="text-muted">Mise à jour: 9 mins</small>
              </div>
            </div>
          </div>
        </div>
  {% endfor %}
</div>
{% endblock %}