{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for herp in herps %}
        <div class="col">
          <div class="card shadow-sm">
                {% for image in herp.herpmedia_set.all %}
                    {% if image.category == 'I' and forloop.first %}
                        <img src="{{ MEDIA_URL }}{{ image }}" class="card-img-top img-fluid rounded" title="Herping-Fribourg - {{ herp.get_order_display }} de Fribourg - {{ herp.scientific_name }} {{ herp.common_name }}" />
                    {% endif %}
                  {% endfor %}
            <div class="card-body">
              <p class="card-text"><i>{{ herp.scientific_name }}</i> ({{ herp.author }})<br />
              {{ herp.common_name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    {% if herp.order == 'A' %}
                        <a href="{% url 'amphibian_details' herp.slug %}" class="btn btn-sm btn-outline-secondary">Détails</a>
                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Ajouter une observation</button>-->
                    {% else %}
                     <a href="{% url 'reptile_details' herp.slug %}" class="btn btn-sm btn-outline-secondary">Détails</a>
                        <!--<button type="button" class="btn btn-sm btn-outline-secondary">Ajouter une observation</button>-->
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
  {% endfor %}
</div>
{% endblock %}