{% extends 'base.html' %}

{% block title %}Législation{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
  <div class="col">
      <h2>Protection des amphibiens et reptiles</h2>
      <p>
          Toutes les espèces d'amphibiens et de reptiles sont protégées au niveau fédéral (art. 20 OPN  et annexe 3 OPN). Il est interdit de les tuer, les blesser, les capturer ou les déplacer.
      </p>
      <p>
          L'inventaire fédéral des sites de reproduction des amphibiens désigne les biotopes à amphibiens d'importance nationale. Sur ce site sont référencés les biotopes du canton de Fribourg basé sur la liste officielle.
      </p>
      <p>
          Des programmes spécifiques pour favoriser ces espèces sont menés dans le canton de Fribourg. Ces programmes concernent d’une part le suivi des populations existantes et d’autre part l’amélioration des biotopes et la création de nouveaux sites de reproduction.
      </p>
      <p>
          Le prélèvement d’œufs ou de larves pour l’observation du développement des amphibiens à buts didactiques est soumis à l’autorisation du SFN.
      </p>
      <p>
          <i>Herping-Fribourg</i> ne peut être tenu responsable des agissements de ses visiteurs sur le terrain.
      </p>
  </div>
</div>
{% endblock %}