{% extends 'base.html' %}

{% block title %}Sites{% endblock %}

{% block content %}
<div class="row">
    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Objet</th>
                  <th scope="col">Nom</th>
                    <th scope="col">District</th>
                  <th scope="col">commune</th>
                    <th scope="col">Localisation GPS</th>
                    <th scope="col">Espèces d'amphibiens</th>
                    <th scope="col">Espèces reptiles</th>
                </tr>
              </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                  <th>{{ site.object }}</th>
                  <td>{{ site.name }}</td>
                    <td>{{ site.district }}</td>
                  <td>{{ site.commune }} </td>
                  <td>{{ site.gps }}</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}