{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block content %}
<!-- Hero Start -->
<section class="bg-home d-flex align-items-center">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        {% blocktrans %}
                            <h1>A <span class="text-primary">new vision</span> for the protection of amphibians and reptiles around the world.</h1>
                        {% endblocktrans %}
                        <div class="mr-lg-5">
                            <img src="{% static 'images/frog_walking.jpg' %}" class="img-fluid d-block mx-auto" alt="">
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="card login_page shadow rounded border-0">
                            <div class="card-body">
                                <h4 class="card-title text-center">{% trans "Signup" %}</h4>
                                <form class="login-form mt-4" method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-block">{% trans "Login !" %}</button>
                                        </div>
                                        <div class="mx-auto">
                                            <p class="mb-0 mt-3"><small class="text-dark mr-2">{% trans "Don't you have an account ?" %}</small> <a href="{% url 'signup' %}" class="text-dark font-weight-bold">{% trans "Sign up" %}</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Hero End -->
{% endblock content %}