{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}
     <section class="section mt-60">
            <div class="container mt-lg-3">
                <div class="row">
                    <div class="col-lg-12 col-md-8 col-12 mt-6 pt-2 mt-sm-0 pt-sm-0">
                        <div class="pb-4">
                            <div class="row">
                                <form action="{% url 'profil_update' request.user.pk %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% bootstrap_messages %}

                                    {% bootstrap_form form %}
                                    <div class="col-md-12">
                                        {% buttons %}
                                            <button class="btn btn-soft-primary btn-block">{% trans "Sauvegarder" %}</button>
                                        {% endbuttons %}
                                    </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
     </section>
{% endblock %}